
  <!--   Core   -->
  <script src="/static/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/js/plugins/chart.js/dist/Chart.extension.js"></script>

  <!--   Argon JS   -->
  <script src="/static/js/argon-dashboard.min.js?v=1.1.0"></script>

  <!-- MomentJS -->
  <script src="/static/js/plugins/momentjs/moment.js"></script>

  <!-- VueJS -->
  <!-- <script src="/static/js/plugins/vuejs/vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-datepicker@3.4.1/index.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-vue.min.js"></script>

  <!-- Axios -->
  <script src="/static/js/plugins/axios/axios.js"></script>

  <!-- ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  
  
 

